.App {
  text-align: center;
}



.lab-content{
  display: flex;
}

.lab-menu{
  position: fixed !important;
  top:170px !important;
left:20px !important;
  max-width:260px;
}
ul{
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}